div{
    height: 100px;
    width: 100px;
    margin: 12px;
    float: left;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

